



/* ATTRIBUTES FOR THE CONTAINER (THIS HOW WE CENTER EVERYTHING)
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Pagination                       { clear: both; width: 100%; overflow: hidden; /*padding-top:50px;*/ }
.Zebra_Pagination ul                    { position: relative; left:10%; list-style-type: none; margin: 0px; padding: 0; float: left }
.Zebra_Pagination li                    { position: relative; float: left; right: 50% }

/* COMMON ATTRIBUTES FOR ALL THE LINKS
----------------------------------------------------------------------------------------------------------------------*/
/*
.Zebra_Pagination a                     { padding: 4px; border: 1px solid #AAA; color: #333; text-decoration: none; margin: 0 2px; display: block; float: left; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px }
*/

.Zebra_Pagination a  {font-weight:bold; text-decoration:none; color:#EF018D ;}
/*
.Zebra_Pagination a:hover               { background-color: #DEDEDE; color: #222 }
*/
.Zebra_Pagination a:hover { text-decoration:underline ; vertical-align:baseline; color:#000; }
/* "NEXT PAGE" AND "PREVIOUS PAGE" LINKS
----------------------------------------------------------------------------------------------------------------------*/
/*
.Zebra_Pagination a.navigation          { border: 1px solid transparent; overflow: hidden; background-repeat: no-repeat }
.Zebra_Pagination a.previous            { background-image: url(../images/larrow.png); background-position: left center; padding-left: 25px }
.Zebra_Pagination a.next                { background-image: url(../images/rarrow.png); background-position: right center; padding-right: 25px }
*/
.Zebra_Pagination a.disabled            { display:none; }
.Zebra_Pagination a.disabled:hover      { background-color: inherit; color: inherit }

/* hack for transparent borders in IE6 */
*html .Zebra_Pagination a.navigation    { border-color: #000001; filter: chroma(color=#000001) }

/* CURRENT PAGE
----------------------------------------------------------------------------------------------------------------------*/
/*
.Zebra_Pagination a.current,
.Zebra_Pagination a.current:hover       { background: #0094D6; border-color: #0094D6; color: #FFF }
*/

.Zebra_Pagination a.current,
.Zebra_Pagination a.current:hover       {color: #000 ; text-decoration:underline; }

/* THE "..." SEPARATOR
----------------------------------------------------------------------------------------------------------------------*/
.Zebra_Pagination span                  { color: #666; margin-right: 2px; display: block; float: left; padding: 8px 4px }